<footer>
   <div id="footer">
      <h2>&copy Himanshu Vaidya: All rights resweved. </h2>
       
      <ul>
         <% if(locals.user) {%>
         <li>
            <a href="/users/profile/<%= user.id %>"> <h3>Profile</h3> </a>
         </li>
         <%}%>
         <li>
            <a href="/"> <h3>Home</h3> </a>
         </li>
      </ul>
   </div>
</footer>