
<div id="sign-in-container">
    <div id="sign-in-page-container">
        <h1>Codeial | Sign-In</h1>
      
      <form action="/users/create-session" method="POST">
            <label for="email">Enter Email</label>
            <input
            type="email"
            name="email"
            placeholder="Your Email"
            required
            id="email"
            /> <br>
                <label for="password">Enter Password</label>
                <input
                type="password"
                name="password"
                placeholder="Your Password"
                required
                id="password"
                /> <br>
                <input type="submit" value="Sign-In" id="sign-in-btn"/>
            </form>
            <br>
            <br>
        <h3>
            <a href="/users/auth/google">Google SignIn | SignUp</a> <br>
            <br>
            <br>
            <a href="/users/reset-password">Forgot Password?</a>
        </h3>           
    </div>   
</div>